#record_page{
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 75%;
    height: 80%;
    z-index: 1;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

#modal-content {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

#close {
    color: rgb(103, 102, 102);
    cursor: pointer;
    align-self: flex-end;
}

.content-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 75%;
}

#float_data {
    background-color: rgb(103, 102, 102);
    min-height: 100%;
    width: 47%;
    border-radius: 20px;
    display: flex;
    flex-direction: row; /* 修改為橫向排列 */
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    color: white;
}

.data-section-container {
    display: flex;
    flex-direction: column; /* 修改為縱向排列 */
    justify-content: space-between;
    width: 48%;
}

.data-section {
    text-align: center;
    /* margin-bottom: 20px; */
}

.title {
    font-weight: bold;
    margin-bottom: 5px;
}

.content {
    margin-bottom: 10px;
    text-align: center;
}

#slider {
    width: 80%;
    margin: 10px 0;
}

#float_map {
    background-color: rgb(103, 102, 102);
    min-height: 100%;
    width: 47%;
    border-radius: 20px;
}