:root {
  --now_site: 0px;
  display: flex;
}

::-webkit-scrollbar {
  display: none;
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

*, *::before, *::after {
  box-sizing: inherit;
}

#medias {
  display: flex;
  width: 100%;
  height: 70%;
}

#videos {
  width: 100%;
  height: 100%;
  background-color:rgb(174, 173, 173);
  border-radius: 20px;
  transform: scale(0.975);
  display: flex;
  justify-content: center;
  align-items: center;
}
/* #stream{
  width: auto;
  height: auto;
  background-color:rgb(174, 173, 173);
  border-radius: 20px;
  height: 100%;
  transform: scale(auto);
} */

#map {
  width: 100%;
  height: 100%;
  background-color:rgb(174, 173, 173);
  border-radius: 20px;
  transform: scale(0.975);
}

.item{
  flex: 1;
  width: 60%; /* 設置寬度為 100% */
  height: auto; /* 自動調整高度以保持比例 */
  max-width: 300px; /* 設置最大寬度，根據需要調整 */
  display: block;
  margin: 0 auto; /* 使圖片居中 */
}

/* #course_photo{
  height: 10%;
  width: auto;
} */

#digital_data {
  display: flex;
  width: 100%;
  height: 30%;  
  align-items: center;
  background-color:rgb(174, 173, 173);
  border-radius: 20px;
  transform: scale(0.975);
  justify-content:space-around;
  padding: 0 1%;
  flex-direction: row;
}

/* 時鐘 */
#clock_bar{
  display: flex;
  width: 20%;
  height: 80%;
  flex-direction: column;
  background-color:rgb(103, 102, 102);
  border-radius: 20px;
  font-size: 24px;
  box-shadow: 0px 0px 2px 2px rgb(174, 173, 173);
}

#clock{
  display: flex;
  justify-content: center;
  font-size: 250%;
  padding: 20px;
  font-family: Arial, sans-serif;
  font-weight: 800;
  color: rgb(174, 173, 173);
  height: 60%;
  width: auto;
}

/* 時鐘的按鈕 */
#clock_btn_bar{
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  height: 60%;
}
.clock_btn{
  height: 50%;
  width: 40%;
  border-radius: 10px;
  background-color: rgb(103, 102, 102);
  color: rgb(174, 173, 173);
  font-weight: 800;
  border:none;
  box-shadow: 0px 0px 2px 2px rgb(174, 173, 173);
}

.clock_btn:hover {
  background-color:rgb(174, 173, 173);
  color: rgb(103, 102, 102);
  transition: 0.5s;
}

.recording {
  color: red;
}

/* 高度計 */
#altitude_bar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 80%;
}

.altitude{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  color: rgb(103, 102, 102);
  font-family: Arial, sans-serif;
}

.altitude_num{
  display: flex;
  justify-content: center;
  font-size: 150%;
  padding: 20px;
  font-family: Arial, sans-serif;
  font-weight: 800;
  color: rgb(103, 102, 102);
  height: 40%;
  width: auto;
}

/* HUD */
#system_container {
  display: flex;
  width: 20%;
  height: 100%;
  align-items: center;
  object-fit: cover;
}

.AOAsystem {
  max-height: 75%;
  max-width: 20%;
  object-fit: cover;
  width: 100%;
  height: auto;
  max-width: 300px;
  display: block;
  margin: 0 auto;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

/* 羅盤 */
/* #course{
  display: flex;
  width: 20%;
  height: 80%;
  overflow: hidden;
} */

/* 鏡頭按鈕設定 */
#cam_btn{
  background-color:rgb(103, 102, 102);
  border-radius: 20px;
  transform: scale(0.975);
  display: flex;
  width: 20%;
  height: 80%;
  flex-direction: column;
  object-fit: contain;
}

.btn_and_word {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 8%;
  margin-top: 4%;
  font-family: "Lucida Console";
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  display: inline-block;
  margin-left: 10%;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(174, 173, 173);
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

.toggleSwitch:checked + .slider {
  background-color: #2aa54b;
}

.toggleSwitch:checked + .slider:before {
  transform: translateX(26px);
}