<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>test</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='floating_window.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
    integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
    integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
    crossorigin=""></script>
</head>

<body onload="startTime()">
    <script>
        setInterval(() => {
            fetch('/get_data')
                .then(response => response.json())
                .then(data => {
                    console.log("Received data from server:", data);
                })
                .catch(error => console.error("Error fetching data:", error));
        }, 100);
    </script>
    <div class="bar" id="medias">
        <!-- <div id="videos" class="upsite">
            <img id="stream" src="http://192.168.0.106:81/stream" crossorigin="anonymous">
        </div> -->
        <div id="map" class="upsite">
            <script>
                var map = L.map('map').setView([51.505, -0.09], 13);
                L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    maxZoom: 19,
                    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                }).addTo(map);
                map.locate({
                    setView: true,
                    watch: true,
                    maxZoom: 18,
                    enableHighAccuracy: true,
                    timeout: 10000
                });
            </script>
        </div>
    </div>

    <div class="bar" id="digital_data">
        <div id="clock_bar">
            <div id="clock"></div>
            <div id="clock_btn_bar">
                <button class="clock_btn" id="recording">開始記錄</button>
                <button class="clock_btn" id="record">飛行紀錄</button>
            </div>
        </div>
        <div id="altitude_bar">
            <div id="up_altitude" class="altitude">
                <a>RELATIVE ALTITUDE</a>
                <div class="altitude_num">
                    <a>19999</a>
                </div>
            </div>
            <div id="down_altitude" class="altitude">
                <a>SATELLITE ALTITUDE:</a>
                <div class="altitude_num">
                    <a>19999</a>
                </div>
            </div>
        </div>
        <div id="system_container">
            <img src="{{ url_for('static', filename='imgs/speed.png') }}" alt="speed picture" class="AOAsystem item" id="speed" />
            <img src="{{ url_for('static', filename='imgs/AOA1.png') }}" alt="roll picture" class="AOAsystem center item" id="roll" />
            <img src="{{ url_for('static', filename='imgs/depression.png') }}" alt="depression picture" class="AOAsystem item" id="depression" />
        </div>
        <div class="bar" id="course">
            <img src="{{ url_for('static', filename='imgs/航向.png') }}" alt="course photo" class="item" id="course_photo" />
        </div>
        <div id="cam_btn">
            <div class="btn_and_word">
                <a>NUMBER OF SATELLITES</a>
                <!-- <label class="switch" id="webcam">
                    <input type="checkbox" class="toggleSwitch">
                    <span class="slider"></span>
                </label> -->
                <a>NONE</a>
            </div>
            <div class="btn_and_word">
                <a>COMMUNICATION QUALITY</a>
                <!-- <label class="switch" id="light">
                    <input type="checkbox" class="toggleSwitch">
                    <span class="slider"></span>
                </label> -->
                <a>NONE</a>
            </div>
            <div class="btn_and_word">
                <a>FIX MODE</a>
                <!-- <label class="switch" id="FPS">
                    <input type="checkbox" class="toggleSwitch">
                    <span class="slider"></span>
                </label> -->
                <a>NONE</a>
            </div>
        </div>
    </div>

    <dialog id="record_page" class="modal">
        <div id="modal-content">
            <span id="close">×</span>
            <!-- <p>這是記錄頁面的彈出視窗！</p> -->
            <label for="file-select">Choose a file:</label>
            <select id="file-select">
                {% if files %}
                    {% for file in files %}
                        <option value="{{ file }}">{{ file }}</option>
                    {% endfor %}
                {% else %}
                    <option value="" disabled>沒有檔案</option>
                {% endif %}
            </select>
        </div>
        <div class="content-container">
            <div id="float_data">
                <div class="data-section-container">
                    <div class="data-section">
                        <p class="title">TIME</p>
                        <p class="content" id="time-content">時間</p>
                    </div>
                    <div class="data-section">
                        <p class="title">COURSE</p>
                        <p class="content">航向</p>
                    </div>
                    <div class="data-section">
                        <p class="title">PRESSURE ALTITUDE</p>
                        <p class="content">壓力高度</p>
                    </div>
                </div>
                <div class="data-section-container">
                    <div class="data-section">
                        <p class="title">DEPRESSION</p>
                        <p class="content">氣壓</p>
                    </div>
                    <div class="data-section">
                        <p class="title">RELATIVE ALTITUDE</p>
                        <p class="content">相對高度</p>
                    </div>
                    <div class="data-section">
                        <p class="title">COORDINATE</p>
                        <p class="content">坐標</p>
                    </div>
                </div>
                <div class="data-section">
                    <p class="title">ADJUST VALUE</p>
                    <input type="range" id="slider" name="slider" min="0" max="100" value="50" oninput="updateSliderValue(this.value)">
                    <p class="content" id="slider-value">50</p>
                </div>
            </div>
            <div id="float_map"></div>
        </div>
    </dialog>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>