<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>test</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" /> <!-- 注意这里的样式表路径 -->
</head>

<body onload="startTime()">
    <div class="bar" id="medias">
        <div id="videos" class="upsite">
            <!-- <img id="stream" src="http://192.168.0.106:81/stream" crossorigin="anonymous"> -->
        </div>
        <div id="map" class="upsite">
            <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap" async
                defer></script>
            <script>
                let map;

                function initMap() {
                    map = new google.maps.Map(document.getElementById("map"), {
                        center: { lat: -34.397, lng: 150.644 },
                        zoom: 8,
                    });
                }
            </script>
            let map;

            function initMap() {
            map = new google.maps.Map(document.getElementById("map"), {
            center: { lat: -34.397, lng: 150.644 },
            zoom: 8,
            });
            }
            </script>
        </div>
    </div>

    <div class="bar" id="digital_data">
        <div id = "clock_bar">
            <div id = "clock"></div>

            <div id = clock_btn_bar>
                <button class = "clock_btn">紀錄開始</button>
                <button class = "clock_btn">飛行紀錄</button>
            </div>
        </div>
        <img
                src = "{{ url_for('static', filename='imgs/temp_pic.png') }}" alt = "course photo" class="item" id="course_photo"
                style = "
                    object-fit: contain;
                "
            />

        <div id="system_container">
            <img src="{{ url_for('static', filename='imgs/speed.png') }}" alt="speed picture" class="AOAsystem item"
                id="speed" style="
                    max-width:20%;
                " />
            <img src="{{ url_for('static', filename='imgs/AOA1.png') }}" alt="roll picture" class="AOAsystem center item"
                id="roll" style="
                    width: 50%;
                    height: 50%;
                " />
            <img src="{{ url_for('static', filename='imgs/depression.png') }}" alt="depression picture"
                class="AOAsystem item" id="depression" style="
                    max-width: 28%;
                " />
        </div>
        <div class = "bar" id = course>
            <img
                src = "{{ url_for('static', filename='imgs/航向.png') }}" alt = "course photo" class="item" id="course_photo"
                style = "
                    object-fit: contain;
                "
            />
        </div>
        <div class = "bar" id = cam_btn>
            <div class = "btn_and_word">
                <a>Web Cam</a>
                <label class= "switch"  id = "webcam">
                    <input type = "checkbox" class = "toggleSwitch">
                    <span class = "slider"></span>
                </label>
            </div>
            
            <div class = "btn_and_word">
                <a>Light</a>
                <label class= "switch"  id = "light">
                    <input type = "checkbox" class = "toggleSwitch">
                    <span class = "slider"></span>
                </label>
            </div>
            
            <div class = "btn_and_word">
                <a>High FPS</a>
                <label class= "switch"  id = "FPS">
                    <input type = "checkbox" class = "toggleSwitch">
                    <span class = "slider"></span>
                </label>
            </div>

            <div class = "btn_and_word">
                <a>Gray Scale</a>
                <label class= "switch"  id = "gray_scale">
                    <input type = "checkbox" class = "toggleSwitch">
                    <span class = "slider"></span>
                </label>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>


</html>