:root {
    --now_site: 0px;
    display: flex;
}
body{
    width: 100%;
}

#medias {
    display: flex;
    width: 100%;
    height: 75%;
}
#video_data{
    width: 75%;
    height: 100%;
}
#map{
    width: 25%;
    height: 100%;
}
#AOA_div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 35%; 
    height: 25%; 
    overflow: hidden;
    border-width: 9px; 
    border-color: blue;
}

#speed {
    margin-left: 25px;
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
    transform: translate(0px, var(--now_site));
}

#roll {
    margin-left: 20px;
    width: 50%;
    height: 50%;
    align-items: center;
    text-align: center;
}

#depression {
    margin-left: -25px;
    width: 110%;
    height: 110%;
    align-items: center;
    text-align: center;
}
